<h1><em>Definitions</em></h1>


<form action="/definition" method="post">
  <input id="id" name="id" value="<%= @word.id %>" type="hidden">

  <label for="word_definition">Enter Definition:</label>
  <input id="word_definition" name="word_definition" type="text">
</br>
<button type="submit">Add it!</button>
</form>

<ul>

<% @word.definitions.each do |definition| %>
<li><%= definition.word_definition %> </li>
<% end %>


</ul>

</br>

<a href="/">Go Back</a>
