<h1><em>Definitions</em></h1>

<form action="/definition" method="post">
  <input id="word_id" name="word_id" value="<%= @word.id %>" type="hidden">

  <label for="word_definition">Enter Definition:</label>
  <input id="word_definition" name="word_definition" type="text">

  <button type="submit">Add it!</button>
</form>

<ul>
  <% @word.definitions.each do |word| %>
  <li class="word_definition"><%= word.word_definition %> </li>
  <% end %>

</ul>


<a href="/">Go Back</a>
