<h1>Definitions for <%= @word.vocabulary %>!</h1>

<form action="/definition" method="post">
  <input id="id" name="id" value="<%= @word.id %>" type="hidden">

  <label for="word_definition">Enter Definition:</label>
  <input id="word_definition" name="word_definition" type="text">
</br>
<button type="submit">Add it!</button>
</form>

<ul>
  <% if @some_definitions.any? %>
  <% @some_definitions.each do |definition| %>
<li><p><%= definition.word_definition %> </p></li>
  <% end %>
</ul>

  <% else %>
<p> There are no definitions yet!</p>
  <% end %>

</br>

<a href="/">Go Back</a>
