<div class="jumbotron"><H1>Legal Term Dictionary</h1></div>

  <div class="form-group">
    <form action="/word" method="post">
      <label for="vocabulary">Enter your vocabulary word:</label>
      <input id="vocabulary" name="vocabulary" type="text" class="form-control">
      <button type="submit" class="btn btn-warning">Add it</button>
    </form>
  </div>


  <ul>
    <% @words.each do |word| %>
    <li class="word"><a href="/word/<%= word.id %>"><%= word.vocabulary %></a></li>
    <% end %>
  </ul>
